@import url('https://fonts.googleapis.com/css2?\
family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&\
family=Cormorant+SC:wght@300;400;500;600;700&\
family=Ubuntu+Condensed&\
family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&\
family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700');

@page {
    size: A4;
    margin: 20mm;
    @top-right {
        font-family: Ubuntu;
        font-weight: lighter;
        content: string(doctitle, first-except);
    }
    @bottom {
        content: counter(page);
    }
}

@page:first {
    @top-right {
        content: normal;
    }
    @bottom {
        content: normal;
    }
}

/* General */

body {
    font-family: "Cormorant Garamond", serif;
    font-size: 12pt;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

h1 {
    string-set: doctitle content();
    page-break-before: always;
}

h1, h2, h3 {
    font-family: Ubuntu, sans-serif;
}

code {
    font-family: Ubuntu Mono, monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    text-align: justify;
    line-height: 1.5;
    widows: 5;
    orphans: 5;
}

table {
    border-collapse: collapse;
}

.avoidwrap{
    display: inline-block;
}

/* Cover */

#cover {
    text-align: center;
    page-break-inside: avoid;
    font-size: 1.3em;
}

#cover #title {
    margin-top: 60mm;
    font-size: 2em;
    page-break-before: auto;
}

#cover #title2 {
    font-family: Ubuntu Condensed;
    font-size: 1.35em;
    margin: .8em 0;
}

#cover #uni, #cover #aa {
    font-style: italic;
    font-weight: 100;
    font-size: .85em;
}

#cover #name {
    margin: 20mm 0;
    font-size: 1.2em;
}

#abstract {
    max-width: 120mm;
    margin: 40mm auto;
}

/* Table of contents */

#toc {
    font-size: 1.15em;
}

#toc ul {
    padding-left: 10mm;
}

#toc li {
    padding-left: 0;
    margin-left: 0;
}

#toc > ul > li {
    margin-top: 1em;
    font-weight: bold;
    font-family: Cormorant SC;
}

#toc > ul > li a:after {
    content: leader('.') target-counter(attr(href), page);
}

/* table.interface */

table.interface td {
    vertical-align: baseline;
    padding-bottom: .5em;
}

table.interface td:first-child {
    font-family: Ubuntu Mono;
    padding-left: 10mm;
}

table.interface td:nth-child(2) {
    font-family: Ubuntu Mono;
    text-align: right;
    padding-right: 15mm;
}

table.interface td:last-child {
    padding-right: 10mm;
}

table.interface td.mid {
    font-family: inherit;
    padding: .5em 0 1em 0;
}
